language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  #- jruby-18mode # JRuby in 1.8 mode # jruby does not build native extensions like the sqlite gem
  #- jruby-19mode # JRuby in 1.9 mode
  - rbx-18mode
  - rbx-19mode