language: ruby

rvm:
  - 2.2.10
  - 2.3
  - 2.4
  - 2.5

matrix:
  fast_finish: true

gemfile:
  - gemfiles/rails_4.gemfile
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_5.2.gemfile
